{% extends "base.html" %}

{% block content %}		
	
	{% for url in post.urls %}
		<img src="{{ url }}" class="img-fluid" alt="Responsive image">
	{% endfor %}
	<h4> {{ post.text }} </h4>
	<p> {{ post.posted.strftime('%d/%m/%Y %H:%M') }} </p>
	<small> Author: <a href="{{ url_for('user.user_profile', user_id=post.user.id | string) }}"style="font-size: 150%"> {{ post.user.username }} </a> </small>
	<p>tag: <a href="{{ url_for('posts.view_tag', tag=post.tag) }}"style="font-size: 150%"> #{{ post.tag }} </a></p>

	{% include "delete_post.html" %}

	{% if post.comments %}
	<h4> Comments: </h4>
		{% for comment in post.comments %}
		<div class="card">
				    <div class="card-body">
				        <p class="card-text">{{ comment.text }}</p>
				        <p class="card-text">
				            <small>Posted: {{ comment.created.strftime('%d/%m/%Y %H:%M:%S') }}  </small> 

				            <small> Author: <a href="{{ url_for('user.user_profile', user_id=comment.from_user.id | string) }}"style="font-size: 150%"> {{ comment.from_user.username }} </a> </small>
				        </p>
				        
				        {% if current_user.is_admin or current_user.username == comment.from_user.username  %}
				        	<form action="{{ url_for('posts.delete_comment') }}" method="POST" class=delete-entry>
          						<input type="hidden" name="id_" value="{{ comment.id }}">
          						<input type="submit" value="Delete" />
							</form>
				        {% endif %}

				    </div>
		</div>
		{% endfor %}
	{% endif %}

	{% if current_user.is_authenticated %}
	<form action="{{ url_for('posts.add_comment') }}" method="POST">
	    {{ comment_form.hidden_tag() }}
	    <div class="form-group">
	        {{ comment_form.comment_text.label }}
	        {{ comment_form.comment_text() }}
	    </div>
	    {{ comment_form.submit() }}
	</form>
	{% else %}
			<p><a href="{{ url_for('user.login', next=request.full_path) }}">Log in</a>, to comment.</p>
	{% endif %}
{% endblock %}