	
<div style="margin-left: 33%;"> {{ pagination.links }} </div>

{% for post in posts_list.items %}


	<div class="card" style="width: 50%;min-width: 200px; background-color: #DCDCDC; margin-left: auto; margin-right: auto;">
	{% for url in post.urls %}

	  <img src="{{ url }}" class="card-img-top" alt="...">
	{% endfor %}
	  <div class="card-body">
	  	<a href="{{ url_for('posts.single_post', post_id=post.id | string) }}"style="color:white;font-size: 200%"> {{ post.title }} </a>
	    <p class="card-text">{{ post.text|urlize(40, true) }}</p>
	    {# <small style="color:;"> Author: {{ post.user.username }}</small> <br> #}
	  	<small> Author: <a href="{{ url_for('user.user_profile', user_id=post.user.id | string) }}"style="font-size: 100%"> {{ post.user.username }} </a> </small>
	  	<p> <a href="{{ url_for('posts.view_tag', tag=post.tag) }}"style="color:red;font-size: 100%"> #{{ post.tag }} </a></p>
	   	<p style="color:;"> {{ post.posted.strftime('%d/%m/%Y %H:%M') }} </p>
	   	<small style=""> Comments: {{ post.comments|length }} </small> 

	   	{% include "posts/delete_post.html" %}
	  </div>
	</div>


	{% endfor %}


<div style="margin-left: 33%;"> {{ pagination.links }} </div>
