{{ pagination.links }}
	{% for post in posts_list.items %}

	<div class="card" style="width: 40rem; background-color: #DCDCDC;">
	{% for url in post.urls %}
	  <img src="{{ url }}" class="card-img-top" alt="...">
	{% endfor %}
	  <div class="card-body">
	  	<a href="{{ url_for('posts.single_post', post_id=post.id | string) }}"style="font-size: 250%"> {{ post.title }} </a>
	    <p class="card-text">{{ post.text }}</p>
	    {# <small style="color:;"> Author: {{ post.user.username }}</small> <br> #}
	  	<small> Author: <a href="{{ url_for('user.user_profile', user_id=post.user.id | string) }}"style="font-size: 150%"> {{ post.user.username }} </a> </small>
	  	<p> <a href="{{ url_for('posts.view_tag', tag=post.tag) }}"style="font-size: 150%"> #{{ post.tag }} </a></p>
	   	<p style="color:;"> {{ post.posted.strftime('%d/%m/%Y %H:%M') }} </p>
	   	<small style=""> Comments: {{ post.comments|length }} </small> 

	   	{% include "delete_post.html" %}
	  </div>
	</div>


	{% endfor %}
</div>
</div>

{{ pagination.links }} 